.btn, .btn:link, .btn:visited, .btn-white, .btn-white:link, .btn-white:visited, .btn-flat, .btn-flat:link, .btn-flat:visited, .btn-flat-red, .btn-flat-red:link, .btn-flat-red:visited, .btn-ghost, .btn-ghost:link, .btn-ghost:visited, .btn-ghost-green, .btn-ghost-green:link, .btn-ghost-green:visited, .btn-ghost-light, .btn-ghost-light:link, .btn-ghost-light:visited, .btn-3d, .btn-3d:link, .btn-3d:visited, .btn-3d-darkblue, .btn-3d-darkblue:link, .btn-3d-darkblue:visited {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .15em;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Base */
html,
body {
  width: 100%;
  height: 100%;
  max-width: 2880px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility !important;
}

body {
  font-family: "Lato", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2c3138;
  background-color: transparent;
}

::selection {
  background: #b3d4fc;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: #b3d4fc;
  color: white;
  text-shadow: none;
}

.gigantic {
  font-size: 100px;
  line-height: 1.09;
  letter-spacing: -2px;
  margin-bottom: 10px;
}

a, a:link, a:visited {
  color: #bf6516;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  color: #924d10;
}
a:active {
  color: #5faee3;
}

pre {
  font-size: 1.1em;
  background: #434a54;
  color: #ecf0f1;
  word-break: break-all;
  /* webkit */
  white-space: pre;
  white-space: -moz-pre-wrap;
  /* fennec */
  white-space: pre-wrap;
  white-space: pre\9;
  /* IE7+ */
}

.fullscreen {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-color: #8c96a4;
  transition: all 0.5s;
}

.push-up {
  margin-bottom: 20px;
}

.push-down {
  margin-top: 20px;
}

.row.push-down {
  margin-top: 60px;
}

.down {
  margin-top: 20px;
}

h2 .push-up {
  margin-bottom: 50px;
}

.push-right {
  margin-left: 10px;
}

.col-sm-3, .col-sm-4 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 601px) {
  h1.gigantic {
    font-size: 40px;
  }
}
@media only screen and (max-width: 400px) {
  h1.gigantic {
    font-size: 30px;
  }
}
#ribbon {
  color: transparent;
  display: block;
  height: 149px;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none solid transparent;
  text-rendering: optimizelegibility;
  top: 0px;
  width: 149px;
  z-index: 10;
  perspective-origin: 74.5px 74.5px;
  transform-origin: 74.5px 74.5px;
  background: transparent url(https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67) no-repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none transparent;
  font: normal normal normal 0px/0px a;
  outline: transparent none 0px;
}

/* Buttons */
.btn, .btn:link, .btn:visited {
  color: white;
  background-color: #0074d9;
  margin-bottom: 1.5em;
  transition: background-color .3s;
}
.btn:hover, .btn:focus {
  text-decoration: none;
  background-color: #0066c0;
}
.btn:active {
  background-color: #0082f3;
}

.btn, .btn:link, .btn:visited {
  color: white;
  background-color: #0074d9;
  margin-bottom: 1.5em;
  transition: background-color .3s;
}
.btn:hover, .btn:focus {
  text-decoration: none;
  background-color: #0066c0;
}
.btn:active {
  background-color: #0082f3;
}

.btn-white, .btn-white:link, .btn-white:visited {
  color: #434a54;
  background-color: white;
  margin-bottom: 1.5em;
  transition: background-color .3s;
}
.btn-white:hover, .btn-white:focus {
  text-decoration: none;
  background-color: #f2f2f2;
}
.btn-white:active {
  background-color: white;
}

.btn-flat, .btn-flat:link, .btn-flat:visited {
  position: relative;
  color: white;
  background-color: #0074d9;
  box-shadow: 0px 4px #0059a6;
  margin-bottom: 1.5em;
  transition: all .3s;
}
.btn-flat:hover, .btn-flat:focus {
  text-decoration: none;
  background-color: #0059a6;
  box-shadow: 0px 4px #003d73;
}
.btn-flat:active {
  top: 3px;
  outline: 0;
  background-image: none;
}

.btn-flat-red, .btn-flat-red:link, .btn-flat-red:visited {
  position: relative;
  color: white;
  background-color: #e74c3c;
  box-shadow: 0px 4px #d62c1a;
  margin-bottom: 1.5em;
  transition: all .3s;
}
.btn-flat-red:hover, .btn-flat-red:focus {
  text-decoration: none;
  background-color: #d62c1a;
  box-shadow: 0px 4px #a82315;
}
.btn-flat-red:active {
  top: 3px;
  outline: 0;
  background-image: none;
}

.btn-ghost, .btn-ghost:link, .btn-ghost:visited {
  color: #555555;
  border: 2px solid #555555;
  margin-bottom: .5em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: all .3s;
}
.btn-ghost:hover, .btn-ghost:focus {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
  color: white;
  transition: border-color .3s, color .3s, background-color .3s;
}
.btn-ghost:active {
  background-color: #272727;
  border-color: #272727;
  color: white;
  transition: background-color .1s, color .1s, border .1s;
}

.btn-ghost-green, .btn-ghost-green:link, .btn-ghost-green:visited {
  color: #2ecc71;
  border: 2px solid #2ecc71;
  margin-bottom: .5em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  transition: all .3s;
}
.btn-ghost-green:hover, .btn-ghost-green:focus {
  background-color: #25a25a;
  border-color: #25a25a;
  color: white;
  transition: border-color .3s, color .3s, background-color .3s;
}
.btn-ghost-green:active {
  background-color: #1d8148;
  border-color: #1d8148;
  color: white;
  transition: background-color .1s, color .1s, border .1s;
}

.btn-ghost-light, .btn-ghost-light:link, .btn-ghost-light:visited {
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin-bottom: .5em;
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.7);
  transition: all .3s;
}
.btn-ghost-light:hover, .btn-ghost-light:focus {
  border-color: #fff;
  color: #383838;
  background-color: #fff;
}
.btn-ghost-light:active {
  background-color: #ebebeb;
  color: #383838;
}

.btn-3d, .btn-3d:link, .btn-3d:visited {
  background-color: #0074d9;
  color: white;
  box-shadow: 4px 4px 0px #73beff;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all .3s;
}
.btn-3d:hover, .btn-3d:focus {
  background: #0059a6;
}
.btn-3d:active {
  top: 4px;
  left: 4px;
  box-shadow: 0px 0px 0px #73beff;
}

.btn-3d-darkblue, .btn-3d-darkblue:link, .btn-3d-darkblue:visited {
  background-color: #34495e;
  color: white;
  box-shadow: 4px 4px 0px #7795b4;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all .3s;
}
.btn-3d-darkblue:hover, .btn-3d-darkblue:focus {
  background: #222f3d;
}
.btn-3d-darkblue:active {
  top: 4px;
  left: 4px;
  box-shadow: 0px 0px 0px #7795b4;
}

@media only screen and (max-width: 590px) {
  .btn, .btn:link, .btn:visited, .btn-flat, .btn-flat:link, .btn-flat:visited, .btn-ghost, .btn-ghost:link, .btn-ghost:visited, .btn-ghost-light, .btn-ghost-light:link, .btn-ghost-light:visited, .btn-3d, .btn-3d:link, .btn-3d:visited {
    display: block;
    width: 100%;
  }
}

.btn-s {
  font-size: 12px;
}

.btn-m {
  font-size: 18px;
}

.btn-l {
  font-size: 20px;
}

.radius {
  border-radius: .3em;
}
