/* Buttons */

// Button colors.
$base-button-color:     #fff !default;
$base-button-bg:        #0074d9 !default;
$btn-primary-border:    darken($base-button-bg, 5%) !default;


/* Default Button */

@include button;

/* Flat Theme */

@include button-flat;

/* Ghost themes */

@include button_ghost;
@include button_ghost_light;

/* 3d Theme */

@include button_3d;

/* Blockbreak */

.btn, .btn-flat, .btn-ghost, .btn-ghost-light, .btn-3d {
  @include blockbreak;
}

// Sizes
.btn-s { font-size: 12px; }
.btn-m { font-size: 18px; }
.btn-l { font-size: 20px; }

// Border radius.
.radius {border-radius: .3em;}