/* Buttons */

// Button colors.
$base-button-color:     #fff !default;
$base-button-bg:        #0074d9 !default;
$btn-primary-border:    darken($base-button-bg, 5%) !default;


// Themes
@include button;
@include button($class: -white, $bg: white, $color: $grey-darker);
@include button-flat;
@include button-flat($class: -red, $bg: $red);
@include button_ghost;
@include button_ghost($class: -green, $border-color: $emerald);
@include button_ghost_light;
@include button_3d;
@include button_3d($class: -darkblue, $bg: $dark-blue);

.btn, .btn-white, .btn-flat, .btn-flat-red, .btn-ghost, .btn-ghost-light, .btn-ghost-green, .btn-3d, .btn-3d-darkblue {
  @include blockbreak;
}

// Sizes
.btn-s { font-size: 12px; }
.btn-m { font-size: 18px; }
.btn-l { font-size: 20px; }

// Border radius.
.radius {border-radius: .3em;}